{% extends "base.html" %}

    {% block title %}Home{% endblock %}
    {% block link %}<link rel="stylesheet" href="{{ url_for('static', filename='generalstyle.css') }}?{{ cache_id }}">{% endblock %}

{% block content %} 
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img id="Logo" src="{{ url_for('home_app.image', filename='Logo-Grupo-As-enmarcado-white.png') }}">
            </div>
            <div class="col-md-auto">
                
            </div>
            <div class="col col-lg-2">
                <a type ="button" class="btn btn-primary btn-lg btn-block" href="/login">Iniciar sesión</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="form" class="row justify-content-center">
            <div class="col-12 "><h1 class="" style="text-align: center;">Texto importante</h1></div>
            <div class="col-4" style="text-align: center;"><a type ="button" class="btn btn-success btn-lg btn-block align-text-middle"  href="/register" id="register">Solicitar cuenta nueva</a></div>
        </div>
    </div>


{% endblock %}