{% extends "base.html" %}


{% block content %}

<div class="row">
    <div class="offset-md-2 col-md-8">

        {% include '_flashmessages.html' %}
        <h3> Nueva Grupo</h3>

        {% from "_formhelpers.html" import render_field %}

        <form method="POST" action="{{ url_for('.grupo') }}" enctype="multipart/form-data" role="form">
            {{ form.hidden_tag() }}

            {{ render_field(form.serial_cuenta, class='form-control')}}
            {{ render_field(form.serial, class='form-control')}}
            {{ render_field(form.descripcion, class='form-control')}}
            {{ render_field(form.example, class='form-checkbox')}}

            <button type="submit" class="btn btn-primary">crear</button>
        </form>

    </div>

</div>

{% endblock %}
