body{
    background-image: url("/images/recibo-home.jpg");
    background-size: 1200px 900px;

}
a.btn{
    height: 50px;
    width: 250px;
    margin-top: 2px;
    
}
#register{
    background-color: #42b72a;
    text-align: center;
}
#Logo{
    height: auto;
    width: 300px;
}
#form{
    background-color: transparent;
}